.container {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  &:hover .arrowButton {
    opacity: 0.5;
  }
}
.singleCard {
  width: 100vw;
  display: grid;
  gap: 50px;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  padding: 10px 120px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.singleCard::-webkit-scrollbar {
  display: none;
}
.arrowButton {
  position: absolute;
  z-index: 50 !important;
  width: 20px;
  height: 20px;
  z-index: 5;
  border: none;
  top: 50%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url(/left-arrow.svg);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  &.rightArrow {
    right: 5.5% !important;
    transform: rotate(180deg);
  }
  &.leftArrow {
    left: 5.5% !important;
  }

  .arrow {
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
    opacity: 1 !important;
  }
}

.multipleCard {
  width: 85vw;
  margin: auto;
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  padding: 10px 10px;
  position: relative;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.multipleCard::-webkit-scrollbar {
  display: none;
}

.unfilledSlider {
  display: flex;
  justify-content: center;
}

@media (max-width: 1025px) {
  .singleCard {
    gap: 40px;
  }
  .multipleCard {
    grid-auto-columns: 32%;
  }
}

@media (max-width: 721px) {
  .singleCard {
    gap: 30px;
    padding: 10px 10px;
  }
  .multipleCard {
    grid-auto-columns: 42%;
  }
}
@media (max-width: 426px) {
  .multipleCard {
    grid-auto-columns: 70%;
  }
  .unfilledSlider {
    width: 100vw;
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    padding: 10px 10px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (max-width: 1210px) {
  .arrowButton {
    &.rightArrow {
      right: 7.3% !important;
    }
    &.leftArrow {
      left: 7.3% !important;
    }
  }
}

@media (max-width: 1024px) {
  .arrowButton {
    &.rightArrow {
      right: 8.8% !important;
    }
    &.leftArrow {
      left: 8.8% !important;
    }
  }
}
@media (max-width: 765px) {
  .arrowButton {
    &.rightArrow {
      right: 11.3% !important;
    }
    &.leftArrow {
      left: 11.3% !important;
    }
  }
}

@media (max-width: 721px) {
  .rightArrow {
    display: none;
  }
  .leftArrow {
    display: none;
  }
}
