.toggle_button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space_around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  right: 1rem;
  top: 1rem;
  z-index: 400;
}
@media (min-width: 769px) {
  .toggle_button {
    display: none !important;
  }
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  width: 25px;
  height: 1.5px;
  background: white;
}
.toggle_button_line::before,
.toggle_button_line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: white;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;

  transition: all 0.2s ease_in-out;
}
.toggle_button_line::before {
  transform: translateY(-10px);
}
.toggle_button_line::after {
  transform: translateY(2px);
}
.toggle_button.open .toggle_button_line {
  background: transparent;
}
.toggle_button.open .toggle_button_line::before {
  transform: rotate(45deg);
}
.toggle_button.open .toggle_button_line::after {
  transform: rotate(-45deg);
}
