.container {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  color: rgba(238, 131, 44, 0.671);
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0px;
}
.topic {
  color: whitesmoke;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 2rem;
}
.single_topic {
  color: whitesmoke;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-left: 2rem;
  margin-top: 0;
}
@media (min-width: 769px) {
  .title {
    font-size: 2.3rem;
  }
  .topic {
    letter-spacing: 2px;
    font-size: 1.4rem;
  }
  .single_topic {
    letter-spacing: 2px;
    font-size: 1.65rem;
  }
}
